
@keyframes fadeIn {
  0% {
    opacity:0
  }

  100% {
    opacity:1
  }
}

@keyframes fadeInDown {
  0% {
    opacity:0;
    transform:translateY(-20px)
  }

  100% {
    opacity:1;
    transform:translateY(0)
  }
}



@keyframes fadeInDown-repeat {
  0% {
    opacity:0;
    transform:translateY(-20px)
  }

  75% {
    opacity:1;
    transform:translateY(0)
  }

  100% {
    opacity:0;
    transform:translateY(0)
  }
}


@keyframes fadeInUp {
  0% {
    opacity:0;
    transform:translateY(20px)
  }

  100% {
    opacity:1;
    transform:translateY(0)
  }
}


@keyframes fadeOutDown {
  0% {
    opacity:1;
    transform:translateY(0)
  }

  100% {
    opacity:0;
    transform:translateY(20px)
  }
}


@keyframes slideDown {
  0% {
    opacity:0;
    top:0
  }

  20% {
    opacity:1;
    top:0
  }

  100% {
    opacity:0;
    top:40px
  }
}

.fadeIn {
  -webkit-animation-name:fadeIn;
  -moz-animation-name:fadeIn;
  -ms-animation-name:fadeIn;
  -o-animation-name:fadeIn;
  animation-name:fadeIn;
  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  -ms-animation-duration:1s;
  -o-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-delay:.2s;
  -moz-animation-delay:.2s;
  -ms-animation-delay:.2s;
  -o-animation-delay:.2s;
  animation-delay:.2s;
  -webkit-animation-timing-function:ease;
  -moz-animation-timing-function:ease;
  -ms-animation-timing-function:ease;
  -o-animation-timing-function:ease;
  animation-timing-function:ease;
  -webkit-animation-fill-mode:both;
  -moz-animation-fill-mode:both;
  -ms-animation-fill-mode:both;
  -o-animation-fill-mode:both;
  animation-fill-mode:both;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -ms-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden
}

.fadeInDown {
  -webkit-animation-name:fadeInDown;
  -moz-animation-name:fadeInDown;
  -ms-animation-name:fadeInDown;
  -o-animation-name:fadeInDown;
  animation-name:fadeInDown;
  -webkit-animation-duration:2s;
  -moz-animation-duration:2s;
  -ms-animation-duration:2s;
  -o-animation-duration:2s;
  animation-duration:2s;
  -webkit-animation-delay:.2s;
  -moz-animation-delay:.2s;
  -ms-animation-delay:.2s;
  -o-animation-delay:.2s;
  animation-delay:.2s;
  -webkit-animation-timing-function:ease;
  -moz-animation-timing-function:ease;
  -ms-animation-timing-function:ease;
  -o-animation-timing-function:ease;
  animation-timing-function:ease;
  -webkit-animation-fill-mode:both;
  -moz-animation-fill-mode:both;
  -ms-animation-fill-mode:both;
  -o-animation-fill-mode:both;
  animation-fill-mode:both;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -ms-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden
}

.fadeInDown-repeat {
  -webkit-animation-name:fadeInDown-repeat;
  -moz-animation-name:fadeInDown-repeat;
  -ms-animation-name:fadeInDown-repeat;
  -o-animation-name:fadeInDown-repeat;
  animation-name:fadeInDown-repeat;
  -webkit-animation-duration:2s;
  -moz-animation-duration:2s;
  -ms-animation-duration:2s;
  -o-animation-duration:2s;
  animation-duration:2s;
  -webkit-animation-delay:.2s;
  -moz-animation-delay:.2s;
  -ms-animation-delay:.2s;
  -o-animation-delay:.2s;
  animation-delay:.2s;
  -webkit-animation-timing-function:ease;
  -moz-animation-timing-function:ease;
  -ms-animation-timing-function:ease;
  -o-animation-timing-function:ease;
  animation-timing-function:ease;
  -webkit-animation-fill-mode:both;
  -moz-animation-fill-mode:both;
  -ms-animation-fill-mode:both;
  -o-animation-fill-mode:both;
  animation-fill-mode:both;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -ms-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden;
  -webkit-animation-iteration-count:infinite;
  -moz-animation-iteration-count:infinite;
  -ms-animation-iteration-count:infinite;
  -o-animation-iteration-count:infinite;
  animation-iteration-count:infinite
}

.fadeInUp {
  -webkit-animation-name:fadeInUp;
  -moz-animation-name:fadeInUp;
  -ms-animation-name:fadeInUp;
  -o-animation-name:fadeInUp;
  animation-name:fadeInUp;
  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  -ms-animation-duration:1s;
  -o-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-delay:.2s;
  -moz-animation-delay:.2s;
  -ms-animation-delay:.2s;
  -o-animation-delay:.2s;
  animation-delay:.2s;
  -webkit-animation-timing-function:ease;
  -moz-animation-timing-function:ease;
  -ms-animation-timing-function:ease;
  -o-animation-timing-function:ease;
  animation-timing-function:ease;
  -webkit-animation-fill-mode:both;
  -moz-animation-fill-mode:both;
  -ms-animation-fill-mode:both;
  -o-animation-fill-mode:both;
  animation-fill-mode:both;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -ms-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden
}

.fadeOutDown {
  -webkit-animation-name:fadeOutDown;
  -moz-animation-name:fadeOutDown;
  -ms-animation-name:fadeOutDown;
  -o-animation-name:fadeOutDown;
  animation-name:fadeOutDown;
  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  -ms-animation-duration:1s;
  -o-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-delay:.2s;
  -moz-animation-delay:.2s;
  -ms-animation-delay:.2s;
  -o-animation-delay:.2s;
  animation-delay:.2s;
  -webkit-animation-timing-function:ease;
  -moz-animation-timing-function:ease;
  -ms-animation-timing-function:ease;
  -o-animation-timing-function:ease;
  animation-timing-function:ease;
  -webkit-animation-fill-mode:both;
  -moz-animation-fill-mode:both;
  -ms-animation-fill-mode:both;
  -o-animation-fill-mode:both;
  animation-fill-mode:both;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -ms-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden
}

.fadeIn-slow {
  -webkit-animation-name:fadeIn;
  -moz-animation-name:fadeIn;
  -ms-animation-name:fadeIn;
  -o-animation-name:fadeIn;
  animation-name:fadeIn;
  -webkit-animation-duration:2s;
  -moz-animation-duration:2s;
  -ms-animation-duration:2s;
  -o-animation-duration:2s;
  animation-duration:2s;
  -webkit-animation-delay:2s;
  -moz-animation-delay:2s;
  -ms-animation-delay:2s;
  -o-animation-delay:2s;
  animation-delay:2s;
  -webkit-animation-timing-function:ease;
  -moz-animation-timing-function:ease;
  -ms-animation-timing-function:ease;
  -o-animation-timing-function:ease;
  animation-timing-function:ease;
  -webkit-animation-fill-mode:both;
  -moz-animation-fill-mode:both;
  -ms-animation-fill-mode:both;
  -o-animation-fill-mode:both;
  animation-fill-mode:both;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -ms-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden
}

.slide-down {
  -webkit-animation-name:slideDown;
  -moz-animation-name:slideDown;
  -ms-animation-name:slideDown;
  -o-animation-name:slideDown;
  animation-name:slideDown;
  -webkit-animation-duration:3s;
  -moz-animation-duration:3s;
  -ms-animation-duration:3s;
  -o-animation-duration:3s;
  animation-duration:3s;
  -webkit-animation-delay:1.5s;
  -moz-animation-delay:1.5s;
  -ms-animation-delay:1.5s;
  -o-animation-delay:1.5s;
  animation-delay:1.5s;
  -webkit-animation-timing-function:ease;
  -moz-animation-timing-function:ease;
  -ms-animation-timing-function:ease;
  -o-animation-timing-function:ease;
  animation-timing-function:ease;
  -webkit-animation-fill-mode:both;
  -moz-animation-fill-mode:both;
  -ms-animation-fill-mode:both;
  -o-animation-fill-mode:both;
  animation-fill-mode:both;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -ms-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden;
  -webkit-animation-iteration-count:infinite;
  -moz-animation-iteration-count:infinite;
  -ms-animation-iteration-count:infinite;
  -o-animation-iteration-count:infinite;
  animation-iteration-count:infinite
}

.slide-down-delay {
  -webkit-animation-name:slideDown;
  -moz-animation-name:slideDown;
  -ms-animation-name:slideDown;
  -o-animation-name:slideDown;
  animation-name:slideDown;
  -webkit-animation-duration:3s;
  -moz-animation-duration:3s;
  -ms-animation-duration:3s;
  -o-animation-duration:3s;
  animation-duration:3s;
  -webkit-animation-delay:3s;
  -moz-animation-delay:3s;
  -ms-animation-delay:3s;
  -o-animation-delay:3s;
  animation-delay:3s;
  -webkit-animation-timing-function:ease;
  -moz-animation-timing-function:ease;
  -ms-animation-timing-function:ease;
  -o-animation-timing-function:ease;
  animation-timing-function:ease;
  -webkit-animation-fill-mode:both;
  -moz-animation-fill-mode:both;
  -ms-animation-fill-mode:both;
  -o-animation-fill-mode:both;
  animation-fill-mode:both;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -ms-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden;
  -webkit-animation-iteration-count:infinite;
  -moz-animation-iteration-count:infinite;
  -ms-animation-iteration-count:infinite;
  -o-animation-iteration-count:infinite;
  animation-iteration-count:infinite
}



.navbar-default {
  background:#fff;
  background:rgba(255,255,255,0.95);
  border-bottom:0px solid #eeeaee;
  margin:-86px 0 0;
  position:absolute;
  width:100%;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  -khtml-border-radius:0;
  border-radius:0
}

@media (max-width: 768px) {
  .navbar-default {
    background:#fff
  }
}

@media (min-width: 768px) {
  .navbar-default .container {
    width:100%;
    padding:0 0 0 15px
  }
}

.navbar-default .navbar-brand {
  padding: 21px 0 21px 15px;
  height:auto;
}

@media (min-width: 1036px) {
  .navbar-default .navbar-brand {
    padding: 10px 0 0px 15px;
  }
}

.navbar-default .navbar-brand img {
  max-width: 100%;
  height: auto;
}

.navbar-default .navbar-toggle {
  margin:19px 15px;
  -webkit-transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
  -ms-transition:all .2s ease-in-out;
  -o-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: $turquoise;
}

.navbar-default .navbar-toggle .icon-bar:nth-child(even) {
  margin:4px auto;
  width:18px
}

.navbar-default .navbar-toggle:focus,.navbar-default .navbar-toggle:hover {
  background-color:#484f62
}

.navbar-default .navbar-toggle:focus .icon-bar,.navbar-default .navbar-toggle:hover .icon-bar {
  background-color:#fff
}

.navbar-default .navbar-collapse {
  padding:0;
  border:none
}

.navbar-default .navbar-nav {
  margin:0
}

@media (min-width: 768px) {
  .navbar-default .navbar-nav {
    float:right
  }
}

.navbar-default .navbar-nav li a {
  color:#484f62;
  font-size:13px;
  font-weight:700;
  line-height:86px;
  text-transform:uppercase;
  padding:0 35px;
  border-left:1px solid #eeeaee;
  -webkit-transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
  -ms-transition:all .2s ease-in-out;
  -o-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out
}

/* regain some horizontal space when browser is not so wide
this prevents the nav items from wrapping and going under the nav brand logo
 */
@media (min-width: 1180px )and (max-width: 1255px) {
  .navbar-default .navbar-nav li {
    &.last  a {
      padding: 0 8px;
    }

    a {
      padding: 0 15px;
    }
  }
}
@media (min-width: 850px ) and (max-width: 1180px) {
  .navbar-default .navbar-nav li {
    &.last  a {
      padding: 0 5px;
    }

    a {
      padding: 0 10px;
    }
  }
}
.navbar-default .navbar-nav li a:hover,.navbar-default .navbar-nav li a:focus {
  background:none;
  color:$turquoise
}

.navbar-default .navbar-nav .active a {
  background:none;
  color:$turquoise
}

.navbar-default .navbar-nav .active a:hover,.navbar-default .navbar-nav .active a:focus {
  background:none;
  color:$turquoise
}

.navbar-default .navbar-nav .last {
  a, a:visited {
    background:$orange;
    color:#fff
  }
}

.navbar-default .navbar-nav .last.active a {
  background:$dark-orange;
}

.navbar-default .navbar-nav .last a:hover,.navbar-default .navbar-nav .last a:focus {
  background:none;
  color:$dark-orange;
}

.navbar-default .dropdown.open>a,.navbar-default .dropdown.open>a:hover,.navbar-default .dropdown.open>a:focus {
  background:none;
  color:$turquoise
}

.navbar-default .dropdown-menu a {
  color:#484f62;
  line-height:40px
}

.navbar-default .caret {
  top:-1px;
  position:relative
}


.navbar.affix {
  position:fixed;
  margin:0;
  top:0;
  right:0;
  bottom:initial;
  left:0
}

